* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* card */
.card {
    width: 425px ;
    /* width: calc(100% / 3 - 40px) ; */
    height: 400px;
    margin: 40px;
    border-radius: 20px;
    transition: box-shadow 0.3s;
    -webkit-box-shadow: 0px 14px 18px -8px rgba(171,171,171,1);
    -moz-box-shadow: 0px 14px 18px -8px rgba(171,171,171,1);
    box-shadow: 0px 14px 18px -8px rgba(171,171,171,1);
    /* min-width: 160px; */
}
.card:hover {
   box-shadow: 0 1.5rem 3.5rem rgba(0,0,0,0.3) 
}

/* contrast */
.contrast {
    position: relative;
    height: 160px;
    padding: 10px;
    border-top: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid black;
}

.contrast svg.fa-ellipsis-v, .i {
    float: right;
    margin: 10px;
    font-size: 17px;
    cursor: pointer;
}

.contrast h4 {
    padding-top: 30px;
}

/* button */
.color {
    display: inline-block;
    margin: 15px 5px;
    padding: 15px;
    color: azure;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
}

/* dropdown */
.dropdown {
    position: absolute;
    top: 50px;
    right: 30px;
    -webkit-box-shadow: 0px 12px 10px 0px rgba(171,171,171,1);
    -moz-box-shadow: 0px 12px 10px 0px rgba(171,171,171,1);
    box-shadow: 0px 12px 10px 0px rgba(171,171,171,1);
    padding: 5px 0;
    border-radius: 5px;
    background-color: white;
    z-index: 2;
    transition: all .8s;
}

.dropdown ul {
    list-style: none;
}

.dropdown ul li {
    padding: 10px 0;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    cursor: pointer;
}
.dropdown ul li:hover {
    background-color: aliceblue;
}

.dropdown .border {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/* font */
.font {
    margin: 20px 10px;
}

.font h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

/* input */
input {
    margin-top: 15px;
    margin-left: 15px;
    padding: 10px 15px;
    font-size: 17px;
    border-radius: 5px;
    border:2px solid black;
}
input:active, input:focus {
    border: 1px solid black;
    outline: 0;
}